# HOST=0.0.0.0
# PORT=1337
# APP_KEYS="toBeModified1,toBeModified2"
# API_TOKEN_SALT=tobemodified
# ADMIN_JWT_SECRET=tobemodified
# TRANSFER_TOKEN_SALT=tobemodified
# JWT_SECRET=tobemodified


HOST=0.0.0.0
PORT=1337
APP_KEYS=3Y0tCiAlJg85iqaUSTFUZw==,zgQeUGh8piuQbIDtNki49Q==,IAKa/F8HunZEhM9O58LMvA==,haNnoX92sCLCqJ0DtA6Azg==
API_TOKEN_SALT=wCU2L1L1Bd1tUE0L96V8eg==
ADMIN_JWT_SECRET=hqcZNv0HP9iVAr0l53naow==
TRANSFER_TOKEN_SALT=045DWOATfMKWVqClgTEyKw==
# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=workpido
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=root123
DATABASE_SSL=false
JWT_SECRET=RVJ1iL5K+JWMYZ74oCsoVg==